In [18]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [3]:
credit_df=pd.read_csv('Credit_card.csv')
credit_df.head()

,Ind_ID,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members
0,5008827,M,Y,Y,0,180000.0,Pensioner,Higher education,Married,House / apartment,-18772.0,365243,1,0,0,0,NaN,2
1,5009744,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2
2,5009746,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,NaN,-586,1,1,1,0,NaN,2
3,5009749,F,Y,N,0,NaN,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2
4,5009752,F,Y,N,0,315000.0,Commercial associate,Higher education,Married,House / apartment,-13557.0,-586,1,1,1,0,NaN,2

In [4]:
credit_df.dtypes

Ind_ID               int64
GENDER                 str
Car_Owner              str
Propert_Owner          str
CHILDREN             int64
Annual_income      float64
Type_Income            str
EDUCATION              str
Marital_status         str
Housing_type           str
Birthday_count     float64
Employed_days        int64
Mobile_phone         int64
Work_Phone           int64
Phone                int64
EMAIL_ID             int64
Type_Occupation        str
Family_Members       int64
dtype: object

In [5]:
# 1. Data cleaning
credit_df = credit_df.drop(columns=['Ind_ID','Mobile_phone','Work_Phone','Phone','EMAIL_ID'])

In [6]:
# Convert categorical variables to numeric
credit_df = pd.get_dummies(credit_df, columns=['GENDER', 'Car_Owner', 'Propert_Owner', 'Type_Income','EDUCATION', 'Marital_status','Housing_type','Type_Occupation'], drop_first=True)
credit_df.head()

,CHILDREN,Annual_income,Birthday_count,Employed_days,Family_Members,GENDER_M,Car_Owner_Y,Propert_Owner_Y,Type_Income_Pensioner,Type_Income_State servant,...,Type_Occupation_Laborers,Type_Occupation_Low-skill Laborers,Type_Occupation_Managers,Type_Occupation_Medicine staff,Type_Occupation_Private service staff,Type_Occupation_Realty agents,Type_Occupation_Sales staff,Type_Occupation_Secretaries,Type_Occupation_Security staff,Type_Occupation_Waiters/barmen staff
0,0,180000.0,-18772.0,365243,2,True,True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
1,0,315000.0,-13557.0,-586,2,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,0,315000.0,NaN,-586,2,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,NaN,-13557.0,-586,2,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,0,315000.0,-13557.0,-586,2,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
# replace NAN with the median
credit_df['Birthday_count']=credit_df['Birthday_count'].fillna(credit_df['Birthday_count'].median())
credit_df['Annual_income']=credit_df['Annual_income'].fillna(credit_df['Annual_income'].median())
credit_df['CHILDREN']=credit_df['CHILDREN'].fillna(credit_df['CHILDREN'].median())

In [8]:
credit_df.head()

,CHILDREN,Annual_income,Birthday_count,Employed_days,Family_Members,GENDER_M,Car_Owner_Y,Propert_Owner_Y,Type_Income_Pensioner,Type_Income_State servant,...,Type_Occupation_Laborers,Type_Occupation_Low-skill Laborers,Type_Occupation_Managers,Type_Occupation_Medicine staff,Type_Occupation_Private service staff,Type_Occupation_Realty agents,Type_Occupation_Sales staff,Type_Occupation_Secretaries,Type_Occupation_Security staff,Type_Occupation_Waiters/barmen staff
0,0,180000.0,-18772.0,365243,2,True,True,True,True,False,...,False,False,False,False,False,False,False,False,False,False
1,0,315000.0,-13557.0,-586,2,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,0,315000.0,-15661.5,-586,2,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,0,166500.0,-13557.0,-586,2,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,0,315000.0,-13557.0,-586,2,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
correlation = credit_df.corr()
correlation

,CHILDREN,Annual_income,Birthday_count,Employed_days,Family_Members,GENDER_M,Car_Owner_Y,Propert_Owner_Y,Type_Income_Pensioner,Type_Income_State servant,...,Type_Occupation_Laborers,Type_Occupation_Low-skill Laborers,Type_Occupation_Managers,Type_Occupation_Medicine staff,Type_Occupation_Private service staff,Type_Occupation_Realty agents,Type_Occupation_Sales staff,Type_Occupation_Secretaries,Type_Occupation_Security staff,Type_Occupation_Waiters/barmen staff
CHILDREN,1.000000,0.078543,0.277944,-0.219095,0.890248,0.063068,0.063467,-0.003352,-0.217467,0.035128,...,0.022808,-0.007826,0.052493,0.029932,0.031794,0.027202,0.017414,0.014061,-0.002111,-0.015601
Annual_income,0.078543,1.000000,0.110682,-0.158966,0.051522,0.207970,0.208948,0.043012,-0.145588,0.051633,...,-0.023870,-0.040497,0.274205,-0.052358,0.008767,0.003670,-0.030810,-0.019408,-0.010724,-0.034754
Birthday_count,0.277944,0.110682,1.000000,-0.614271,0.265066,0.182646,0.144234,-0.124409,-0.608547,0.060405,...,0.131486,0.001981,0.103400,-0.015216,0.027483,0.041560,0.141982,0.002523,-0.042292,0.041076
Employed_days,-0.219095,-0.158966,-0.614271,1.000000,-0.238705,-0.176383,-0.150658,0.100686,0.981839,-0.131034,...,-0.206216,-0.034020,-0.139870,-0.085226,-0.047977,-0.016329,-0.129966,-0.034856,-0.056413,-0.025315
Family_Members,0.890248,0.051522,0.265066,-0.238705,1.000000,0.099406,0.119851,-0.004458,-0.232919,0.042123,...,0.044543,0.004901,0.055483,0.045989,0.001665,0.031831,0.000752,-0.004067,0.005206,-0.009703
GENDER_M,0.063068,0.207970,0.182646,-0.176383,0.099406,1.000000,0.366257,-0.038264,-0.172277,-0.018140,...,0.236158,0.047559,0.090425,-0.131507,-0.067362,-0.027382,-0.138115,-0.058219,0.093858,-0.043337
Car_Owner_Y,0.063467,0.208948,0.144234,-0.150658,0.119851,0.366257,1.000000,0.002401,-0.147484,0.011206,...,0.062545,-0.045521,0.093873,-0.016053,-0.023412,-0.029557,-0.074187,-0.045521,-0.032153,-0.023570
Propert_Owner_Y,-0.003352,0.043012,-0.124409,0.100686,-0.004458,-0.038264,0.002401,1.000000,0.098419,-0.034443,...,-0.024589,0.020126,0.030028,-0.035471,0.011823,-0.011515,-0.023157,0.020126,0.018173,-0.006271
Type_Income_Pensioner,-0.217467,-0.145588,-0.608547,0.981839,-0.232919,-0.172277,-0.147484,0.098419,1.000000,-0.130526,...,-0.209847,-0.012646,-0.136306,-0.074143,-0.048326,-0.016495,-0.134141,-0.035071,-0.058757,-0.026106
Type_Income_State servant,0.035128,0.051633,0.060405,-0.131034,0.042123,-0.018140,0.011206,-0.034443,-0.130526,1.000000,...,-0.071869,-0.021765,0.033012,0.183929,0.017094,-0.010237,-0.083249,0.042780,-0.036465,-0.016202
Type_Income_Working,0.095880,-0.093423,0.278216,-0.464229,0.102490,0.102434,0.061467,-0.061507,-0.473055,-0.293581,...,0.228368,0.006129,-0.009628,-0.020290,-0.009471,-0.037101,0.058089,0.006129,0.052426,-0.013156
EDUCATION_Higher education,0.052443,0.246427,0.142704,-0.110300,0.056793,0.044086,0.142364,0.018390,-0.103171,0.060857,...,-0.144323,-0.047121,0.227751,-0.022578,-0.023293,-0.022162,-0.024552,-0.009070,-0.010096,0.015908
EDUCATION_Incomplete higher,0.036255,0.006856,0.158108,-0.070678,0.023349,-0.019300,-0.021919,-0.028907,-0.073345,0.022800,...,-0.023099,-0.016392,0.022558,-0.021331,-0.022587,-0.007710,-0.015901,0.066531,-0.002455,-0.012202
EDUCATION_Lower secondary,-0.012001,-0.055724,-0.016547,0.052027,-0.002307,-0.008173,-0.005295,0.073862,0.049383,-0.033377,...,-0.024141,-0.008968,-0.016668,-0.021425,-0.012357,-0.004218,0.027875,-0.008968,-0.015025,-0.006676
EDUCATION_Secondary / secondary special,-0.064543,-0.223767,-0.200437,0.123682,-0.064339,-0.029271,-0.121737,-0.024969,0.118712,-0.058570,...,0.153879,0.054152,-0.220532,0.036405,0.035192,0.025470,0.024123,-0.017911,0.014664,-0.007969
Marital_status_Married,0.145940,-0.021300,0.042850,-0.088263,0.501229,0.097779,0.155392,-0.007039,-0.081298,0.017811,...,0.030650,-0.038157,0.038278,0.040009,-0.046684,-0.013671,-0.034231,-0.038157,0.011610,-0.009457
Marital_status_Separated,0.001284,-0.001372,-0.084516,0.034051,-0.202138,-0.062380,-0.058413,0.002049,0.030522,-0.012145,...,-0.011469,0.015567,-0.041954,0.028773,0.050006,-0.009248,0.014256,-0.019663,-0.011695,0.032567
Marital_status_Single / not married,-0.133364,0.065766,0.110851,-0.030003,-0.415664,0.002683,-0.091225,-0.004246,-0.031068,-0.013944,...,0.003380,0.016339,-0.012535,-0.055076,0.043931,-0.014910,0.048187,0.040359,-0.009649,-0.023597
Marital_status_Widow,-0.096715,-0.065196,-0.245392,0.268019,-0.257568,-0.159302,-0.093429,0.013053,0.261763,-0.018514,...,-0.087347,-0.017256,0.004367,-0.041225,-0.023777,-0.008116,-0.043669,0.022317,-0.005042,-0.012845
Housing_type_House / apartment,0.025007,0.009001,-0.167575,0.061684,0.046321,-0.079101,0.032690,0.212018,0.061354,-0.026905,...,0.000468,0.026682,0.034920,0.016756,0.016838,0.012549,-0.067519,0.026682,-0.021202,0.019862
Housing_type_Municipal apartment,-0.045196,-0.039948,-0.008250,0.067241,-0.077088,0.004076,-0.067821,-0.146075,0.063661,0.013877,...,-0.020429,-0.014399,-0.058435,-0.014305,-0.019841,-0.006772,0.050405,-0.014399,0.004060,-0.010718
Housing_type_Office apartment,0.003118,0.045559,-0.019293,-0.034679,0.013869,0.047559,0.058412,-0.033405,-0.035071,0.010507,...,0.032380,-0.005848,0.006282,-0.013971,-0.008058,-0.002751,-0.022368,-0.005848,0.192426,-0.004353
Housing_type_Rented apartment,-0.012001,0.021355,0.084223,-0.037385,0.003587,0.084519,0.017474,-0.019954,-0.039044,0.009043,...,0.005377,-0.008968,-0.036395,-0.021425,-0.012357,-0.004218,0.007149,-0.008968,-0.015025,-0.006676
Housing_type_With parents,0.014946,0.003787,0.208817,-0.103760,0.009486,0.046292,-0.007425,-0.148273,-0.099358,0.000057,...,0.008868,-0.017852,0.020323,0.006867,0.003400,-0.008396,0.061677,-0.017852,-0.029909,-0.013289
Type_Occupation_Cleaning staff,-0.007601,-0.069350,-0.008800,-0.054545,-0.008946,-0.068763,-0.043039,0.030326,-0.055065,-0.034174,...,-0.054941,-0.009182,-0.037264,-0.021936,-0.012652,-0.004319,-0.035120,-0.009182,-0.015383,-0.006835
Type_Occupation_Cooking staff,-0.026385,-0.041685,-0.007976,-0.053051,-0.019989,-0.042933,0.006089,0.015227,-0.053781,-0.012167,...,-0.053660,-0.008968,-0.036395,-0.021425,-0.012357,-0.004218,-0.034301,-0.008968,-0.015025,-0.006676
Type_Occupation_Core staff,0.050506,-0.006547,0.132394,-0.160975,0.030003,-0.092697,-0.033937,-0.006559,-0.152406,0.178360,...,-0.162833,-0.027213,-0.110442,-0.065015,-0.037499,-0.012799,-0.104088,-0.027213,-0.045593,-0.020257
Type_Occupation_Drivers,0.070828,0.081366,0.057663,-0.107920,0.086651,0.306874,0.191645,-0.012503,-0.111229,-0.026184,...,-0.110978,-0.018547,-0.075271,-0.044310,-0.025557,-0.008723,-0.070941,-0.018547,-0.031074,-0.013806
Type_Occupation_HR staff,0.033326,-0.016671,0.024099,-0.019366,0.007992,-0.033547,-0.006267,-0.029531,-0.020209,-0.012542,...,-0.020163,-0.003370,-0.013676,-0.008051,-0.004643,-0.001585,-0.012889,-0.003370,-0.005646,-0.002508
Type_Occupation_High skill tech staff,0.013144,0.031807,0.042932,-0.094702,0.015306,0.014367,0.005243,-0.016298,-0.096012,0.038280,...,-0.095796,-0.016010,-0.064974,-0.038249,-0.022061,-0.007530,-0.061236,-0.016010,-0.026823,-0.011918
Type_Occupation_IT staff,-0.019122,-0.028006,0.048311,-0.015646,-0.006131,-0.027382,-0.029557,0.026251,-0.016495,-0.010237,...,-0.016458,-0.002751,-0.011163,-0.006571,-0.003790,-0.001294,-0.010520,-0.002751,-0.004608,-0.002047
Type_Occupation_Laborers,0.022808,-0.023870,0.131486,-0.206216,0.044543,0.236158,0.062545,-0.024589,-0.209847,-0.071869,...,1.000000,-0.034992,-0.142009,-0.083597,-0.048217,-0.016458,-0.133839,-0.034992,-0.058625,-0.026047
Type_Occupation_Low-skill Laborers,-0.007826,-0.040497,0.001981,-0.034020,0.004901,0.047559,-0.045521,0.020126,-0.012646,-0.021765,...,-0.034992,1.000000,-0.023733,-0.013971,-0.008058,-0.002751,-0.022368,-0.005848,-0.009798,-0.004353
Type_Occupation_Managers,0.052493,0.274205,0.103400,-0.139870,0.055483,0.090425,0.093873,0.030028,-0.136306,0.033012,...,-0.142009,-0.023733,1.000000,-0.056700,-0.032703,-0.011163,-0.090776,-0.023733,-0.039762,-0.017667
Type_Occupation_Medicine staff,0.029932,-0.052358,-0.015216,-0.085226,0.045989,-0.131507,-0.016053,-0.035471,-0.074143,0.183929,...,-0.083597,-0.013971,-0.056700,1.000000,-0.019252,-0.006571,-0.053438,-0.013971,-0.023407,-0.010400
Type_Occupation_Private service staff,0.031794,0.008767,0.027483,-0.047977,0.001665,-0.067362,-0.023412,0.011823,-0.048326,0.017094,...,-0.048217,-0.008058,-0.032703,-0.019252,1.000000,-0.003790,-0.030822,-0.008058,-0.013501,-0.005998
Type_Occupation_Realty agents,0.027202,0.003670,0.041560,-0.016329,0.031831,-0.027382,-0.029557,-0.011515,-0.016495,-0.010237,...,-0.016458,-0.002751,-0.011163,-0.006571,-0.003790,1.000000,-0.010520,-0.002751,-0.004608,-0.002047
Type_Occupation_Sales staff,0.017414,-0.030810,0.141982,-0.129966,0.000752,-0.138115,-0.074187,-0.023157,-0.134141,-0.083249,...,-0.133839,-0.022368,-0.090776,-0.053438,-0.030822,-0.010520,1.000000,-0.022368,-0.037475,-0.016650
Type_Occupation_Secretaries,0.014061,-0.019408,0.002523,-0.034856,-0.004067,-0.058219,-0.045521,0.020126,-0.035071,0.042780,...,-0.034992,-0.005848,-0.023733,-0.013971,-0.008058,-0.002751,-0.022368,1.000000,-0.009798,-0.004353
Type_Occupation_Security staff,-0.002111,-0.010724,-0.042292,-0.056413,0.005206,0.093858,-0.032153,0.018173,-0.058757,-0.036465,...,-0.058625,-0.009798,-0.039762,-0.023407,-0.013501,-0.004608,-0.037475,-0.009798,1.000000,-0.007293
Type_Occupation_Waiters/barmen staff,-0.015601,-0.034754,0.041076,-0.025315,-0.009703,-0.043337,-0.023570,-0.006271,-0.026106,-0.016202,...,-0.026047,-0.004353,-0.017667,-0.010400,-0.005998,-0.002047,-0.016650,-0.004353,-0.007293,1.000000

In [10]:
# 2. Univariate Linear Regression to predict Birthday_count from Employed_days
credit_df_1= credit_df[['Employed_days','Birthday_count']]


X = np.array(credit_df_1['Employed_days']).reshape(-1,1)

y = np.array(credit_df_1['Birthday_count']).reshape(-1,1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42) 

regression_model = LinearRegression()

regression_model.fit(X_train, y_train)

y_pred = regression_model.predict(X_test)

accuracy_score = regression_model.score(X_test, y_test)
print(accuracy_score)

0.3910979159137805

2. Our model did not perform all that well with an accuracy of about 39.1%. Using linear regression is probably not a good choice for this data set as we have lots of discrete data and only really 3 continous variables

In [ ]:
# 3. function that selects the optimal k value
def optimal_k(X_train, y_train, X_test, y_test):
    k_values = range(1, 50)
    best_k = 1
    best_score = 0
    
    for k in k_values:
        knn = KNeighborsClassifier(n_neighbors=k)
        knn.fit(X_train, y_train)
        score = knn.score(X_test, y_test)
        
        if score > best_score:
            best_score = score
            best_k = k
            
    return best_k, best_score

In [16]:
# 3. Using KNN to predict if someone is a property owner
X = credit_df.drop('Propert_Owner_Y', axis=1)
y = credit_df['Propert_Owner_Y']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

knn = KNeighborsClassifier(n_neighbors=optimal_k(X_train, y_train, X_test, y_test)[0])

knn.fit(X_train, y_train)

y_pred = knn.predict(X_test)

print(knn.score(X_test, y_test))

0.6344086021505376

Are model performed much better with with an accuracy of about 63.4% which is much better but still not that great

In [22]:
# 4. Logistic Regression
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,
                                                    random_state=42,
                                                    stratify=y)
regression = LogisticRegression(random_state=42, max_iter=10000).fit(X_train, y_train)
y_predicted = regression.predict(X_test)
regression.score(X_test, y_test)

0.6903225806451613

This model performed the best of all of our models with an acurracy of about 69.0% which is better but still not super accurate.

In [23]:
# 5. Linear regression with normalization
credit_df_1= credit_df[['Employed_days','Birthday_count']]


X = np.array(credit_df_1['Employed_days']).reshape(-1,1)

y = np.array(credit_df_1['Birthday_count']).reshape(-1,1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42) 

sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

regression_model = LinearRegression()

regression_model.fit(X_train, y_train)

y_pred = regression_model.predict(X_test)

accuracy_score = regression_model.score(X_test, y_test)
print(accuracy_score)

0.3912042876023383

In [24]:
#5. KNN with normalization
X = credit_df.drop('Propert_Owner_Y', axis=1)
y = credit_df['Propert_Owner_Y']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

knn = KNeighborsClassifier(n_neighbors=optimal_k(X_train, y_train, X_test, y_test)[0])

knn.fit(X_train, y_train)

y_pred = knn.predict(X_test)

print(knn.score(X_test, y_test))

0.6731182795698925

In [29]:
# 5. Logistic regression with normalization
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,
                                                    random_state=42,
                                                  stratify=y)  

sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

regression = LogisticRegression(random_state=42, max_iter=10000).fit(X_train, y_train)
y_predicted = regression.predict(X_test)
regression.score(X_test, y_test)

0.6817204301075269

When we normalized the data, it didn't change the accuracy with linear regression much at all, it improve the KNN accuracy and actually decreased the logisitic regression accuracy. Here it would probably be best to use accuracy since we care more about how correct the model is and not neccesarily about false postives or false negatives