``` 
1. Write pseudocode to rearrange positive and negative numbers in a given list

For X in list until end 
    if X >= 0
        put X in positive list
    if X < 0
        put X in negative list

For Y in positve list until end
    k=1
    let Y = pos(k)
    if Y > pos(k+1)
        Y=pos(K+1)
    else 
        Y= pos(k)
        add 1 to k

    
    

For Z in negative list until end
    k=1
    let Z = pos(k)
    if Z > pos(k+1)
        Z=pos(K+1)
    else 
        Z= pos(k)
        add 1 to k

List = Positive list followed by negative list
return list
```

In [8]:
#2.Clean the JEOPARDY_DATA.csv so that `round` uses one-hot encoding instead of categorical values AND the `value` column shows a decimal type when you do a type check. 
import pandas as pd
jeopardy_df=pd.read_csv("JEOPARDY_DATA.csv") 
jeopardy_df=pd.get_dummies(jeopardy_df, columns =[' Round'])
jeopardy_df
jeopardy_df[' Value']=jeopardy_df[' Value'].str.replace("$", "")
jeopardy_df[' Value']=jeopardy_df[' Value'].str.replace(",", "")
jeopardy_df[' Value']=jeopardy_df[' Value'].astype(float) 
jeopardy_df.head()

,Show Number,Air Date,Category,Value,Question,Answer,Round_Double Jeopardy!,Round_Final Jeopardy!,Round_Jeopardy!,Round_Tiebreaker
0,4680,12/31/2004,HISTORY,200.0,"For the last 8 years of his life, Galileo was ...",Copernicus,False,False,True,False
1,4680,12/31/2004,ESPN's TOP 10 ALL-TIME ATHLETES,200.0,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,False,False,True,False
2,4680,12/31/2004,EVERYBODY TALKS ABOUT IT...,200.0,The city of Yuma in this state has a record av...,Arizona,False,False,True,False
3,4680,12/31/2004,THE COMPANY LINE,200.0,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,False,False,True,False
4,4680,12/31/2004,EPITAPHS & TRIBUTES,200.0,"Signer of the Dec. of Indep., framer of the Co...",John Adams,False,False,True,False

In [9]:
jeopardy_df.dtypes

Show Number                  int64
 Air Date                      str
 Category                      str
 Value                     float64
 Question                      str
 Answer                        str
 Round_Double Jeopardy!       bool
 Round_Final Jeopardy!        bool
 Round_Jeopardy!              bool
 Round_Tiebreaker             bool
dtype: object